.App {
  display: grid;
  min-height: 100vh;
  background: var(--clr-grey-1);
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  padding:2rem;
}


@media screen and (max-width: 950px){
  .App{
    grid-template-columns: auto;
    padding: 2rem 6rem;
  }
}

@media screen and (max-width: 500px){
  .App{
    grid-template-columns: auto;
    padding: 1rem 2rem;
  }
}